

<%- include("../partials/header")  %> 
<%- include("../partials/navbar")  %> 


<main>
    <code>
        <pre>
            Welcome Sir/Maam ,
            we warmly welcome you to our organisation :)
        
            Where do you wanna proceed further &#63;

        </pre>
    </code>

</main>


   

    
    
    <%- include("../partials/footer")  %> 
